<h3>Comment Listing</h3>
<p  *ngIf="comments.length==0">No Comments available</p>
<ul *ngIf="comments.length!=0">
    <li *ngFor="let comment of comments">
        {{comment.author}} says  {{ comment.comment }}
    </li>
    
</ul>
